{% extends "base.html" %}
{% load static %}
{% block css %}
<!-- hojas personales de css -->
{% endblock css %}

{% block tagizq %}
<!-- añada los tag izq -->

{% if user.is_authenticated %}
<a href="{% url 'CUENTA' %}" class="Enlace" style="font-size: 20px;
    text-decoration: none;color:#ffd859;font-weight: bold;padding-left: 10px; ">Account</a>
<a href="#" class="Enlace" style="font-size: 20px;
    text-decoration: none;color:#ffd859;font-weight: bold; padding-left: 10px;">Bienvenido/a {{user.first_name}}</a>
<a href="{% url 'SALIR' %}" class="Enlace" style="font-size: 20px;
text-decoration: none;color:#ffd859;font-weight: bold; padding-left: 10px;">Cerrar Sesión</a>
{% else %}
<a href="{%url 'LOGIN'%}" class="Enlace" style="font-size: 20px;
    text-decoration: none;color:#ffd859;font-weight: bold; padding-left: 10px; ">Login</a>
<a href="{%url 'REGISTER'%}" class="Enlace" style="font-size: 20px;
    text-decoration: none;color:#ffd859;font-weight: bold;padding-left: 10px; ">Register</a>
<a href="{%url 'AYUDA'%}" class="Enlace" style="font-size: 20px;
    text-decoration: none;color:#ffd859;font-weight: bold; padding-left: 10px;">Help</a>
{% endif %}

{% endblock tagizq %}

{% block titulo %}
Trabajos de la semana
{% endblock titulo %}

{% block contenido %}
<!-- añada el contenido personal de la página -->
<div class="container" style="padding:15px 5px 15px 5px;">
    <a href="{% url 'SOLSER' %}" style="margin: 100px 100px 100px 100px;">
        <button type="button" class="btn btn-dark">Solicitud de Servicio</button></a>


    <a href="{% url 'ANTERIORES' %}" style="margin: 100px 100px 100px 100px;">
        <button type="button" class="btn btn-dark">Trabajos Anteriores</button></a>

</div>

<form action="">
    <div class="md-form active-pink active-pink-2 mb-3 mt-0">
        <input class="form-control" type="text" placeholder="Search" aria-label="Search">
    </div>
</form>

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'img/icono_taller.png' %}" class="d-block w-100" alt="..." width="800px" height="500px">
        </div>
        {% for reg in trabajo %}
        <div class="carousel-item">
            <img src="{{reg.imagen.url}}" class="d-block w-100" alt="..." width="800px" height="500px">
        </div>
        {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<section>
    <h1>
        Listado
    </h1>
    <table>
        <tr>
            <td>email</td>
            <td>nombre</td>
            <td>especialidad</td>
            <td>telefono</td>
        </tr>
        {% for reg in trabajapi %}
        <tr>{{reg.email}}</tr>
        <tr>{{reg.nombre}}</tr>
        <tr>{{reg.especialidad}}</tr>
        <tr>{{reg.telefono}}</tr>
        {% endfor %}
    </table>
</section>

{% endblock contenido %}

{% block js %}
<!-- añada sus scripts -->

{% endblock js %}