{% extends "base.html" %}
{% load static %}
{% block css %}
<!-- hojas personales de css -->
{% endblock css %}

{% block tagizq %}
<!-- añada los tag izq -->

{% if user.is_authenticated %}
<a href="{% url 'CUENTA' %}" class="Enlace" style="font-size: 20px;
    text-decoration: none;color:#ffd859;font-weight: bold;padding-left: 10px; ">Account</a>
<a href="#" class="Enlace" style="font-size: 20px;
    text-decoration: none;color:#ffd859;font-weight: bold; padding-left: 10px;">Bienvenido/a {{user.first_name}}</a>
<a href="{% url 'SALIR' %}" class="Enlace" style="font-size: 20px;
text-decoration: none;color:#ffd859;font-weight: bold; padding-left: 10px;">Cerrar Sesión</a>
<a href="{%url 'AYUDA'%}" class="Enlace" style="font-size: 20px;
    text-decoration: none;color:#ffd859;font-weight: bold; padding-left: 10px;">Help</a>
{% else %}
<a href="{%url 'LOGIN'%}" class="Enlace" style="font-size: 20px;
    text-decoration: none;color:#ffd859;font-weight: bold; padding-left: 10px; ">Login</a>
<a href="{%url 'REGISTER'%}" class="Enlace" style="font-size: 20px;
    text-decoration: none;color:#ffd859;font-weight: bold;padding-left: 10px; ">Register</a>
<a href="{%url 'AYUDA'%}" class="Enlace" style="font-size: 20px;
    text-decoration: none;color:#ffd859;font-weight: bold; padding-left: 10px;">Help</a>
{% endif %}

{% endblock tagizq %}

{% block titulo %}
Trabajos de la semana
{% endblock titulo %}

{% block contenido %}
<!-- añada el contenido personal de la página -->
<div class="container" style="padding:15px 5px 15px 5px;">
    <a href="{% url 'SOLSER' %}" style="margin: 100px 100px 100px 100px;">
        <button type="button" class="btn btn-dark">Solicitud de Servicio</button></a>


    <a href="{% url 'ANTERIORES' %}" style="margin: 100px 100px 100px 100px;">
        <button type="button" class="btn btn-dark">Trabajos Anteriores</button></a>

</div>

<form action="{% url 'FILTRARN' %}" method="POST" class="input-group" class="col">
    {% csrf_token %}
    <div style="margin-top: 3px;" class="input-group" class="col">
      <input type="search" class="form-control rounded" placeholder="Buscar trabajador" aria-label="Search"
        aria-describedby="search-addon" name="txtNombre" id="txtNombre" /><button type="submit"
        class="btn btn-outline-primary">Buscar</button>
    </div>
</form>
<br>
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'img/icono_taller.png' %}" class="d-block w-100" alt="..." width="800px" height="500px">
        </div>
        {% for reg in trabajo %}
        <div class="carousel-item">
            <a href="{% url 'ANTERIORES' %}"><img src="{{reg.imagen.url}}" class="d-block w-100" alt="..." width="800px"
                    height="500px"></a>
        </div>
        {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<br>
<section class="container"
    style="background-color:#ffd859;color:#E33603; font-size: 20px; font-weight: bold;border: solid 5px #E33603; ">
    <h1 style="font-size: 28px;font-weight: bold;">
        Listado
    </h1>
    <br>
    <table class="container" style="background-color:#ffd859;color:#E33603; font-size: 20px; font-weight: bold; ">
        <tr style="background-color:#E33603;color: #ffd859;">
            <td>Email</td>
            <td>Nombre</td>
            <td>Especialidad</td>
            <td>Teléfono</td>
        </tr>
        {% for reg in trabajapi %}
        <tr>
            <td>{{reg.email}}</td>
            <td>{{reg.nombre}}</td>
            <td>{{reg.especialidad}}</td>
            <td>{{reg.telefono}}</td>
        </tr>
        {% endfor %}
        <tr>
            <th>--</th>
            <th>--</th>
            <th>--</th>
            <th>--</th>
        </tr>
    </table>
</section>

{% endblock contenido %}

{% block js %}
<!-- añada sus scripts -->

{% endblock js %}