{% extends "base.html" %}
{% load static %}
{% block css %}
<!-- SOLO EXISTO PARA SER COPYPASTEADA EN CADA PÁGINA -->
<!-- hojas personales de css -->
<style>
    .my-custom-scrollbar {
        position: relative;
        height: 200px;
        overflow: auto;
    }

    .table-wrapper-scroll-y {
        display: block;
    }
</style>
{% endblock css %}

{% block tagizq %}
<!-- añada los tag izq -->
<a href="{% url 'IND' %}" class="Enlace" style="font-size: 20px;
    text-decoration: none;color:#ffd859;font-weight: bold; padding-left: 10px; ">Inicio</a>
{% endblock tagizq %}


{% block titulo %}
Solicitudes de Ayuda
{% endblock titulo %}

{% block contenido %}
<!-- añada el contenido personal de la página 

<div class="table-wrapper-scroll-y my-custom-scrollbar">

    <table class="table table-bordered table-striped mb-0">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Correo</th>
            </tr>
        </thead>
        <tbody>
            <a href="#">
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>amigos@Otto</td>
                </tr>
            </a>
        </tbody>
    </table>



</div>
<form action="">
    {% csrf_token %}
    <div class="container" style="padding:15px 5px 15px 5px;">
        <a href="#" style="margin: 100px 100px 100px 100px;">
            <button type="button" class="btn btn-dark">Aceptar</button></a>


        <a href="{% url 'MOTREC' %}" style="margin: 100px 100px 100px 100px;">
            <button type="button" class="btn btn-dark">Rechazar</button></a>
    </div>
    <div class="container"></div>
</form>
<div class="table-wrapper-scroll-y my-custom-scrollbar">

    <table class="table table-bordered table-striped mb-0">
        <thead>
            <tr>
                
                <th scope="col">Nombre:</th>
                <th scope="col">Teléfono:</th>
                <th scope="col">Correo:</th>
                <th scope="col">Descripción:</th>
                <th scope="col">Imágenes:</th>
            </tr>
        </thead>
        <tbody>
            <a href="#">
                <tr>
                    <td>Mark</td>
                    <td>+5698938478</td>
                    <td>amigos@Otto</td>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam minima consectetur aliquam unde! Omnis numquam enim tempore id dolores, libero dolore, nam eligendi odio consectetur totam minus dicta porro cupiditate?</td>
                    <td>
                        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="{% static 'img/icon_emp.png' %}" class="d-block w-100" alt="..." width="auto" height="auto">
                                </div>
                                {% for reg in ayuda %}
                                <div class="carousel-item">
                                    <img src="{{reg.imagen.url}}" class="d-block w-100" alt="..." width="auto" height="auto">
                                </div>
                                {% endfor %}
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </a>
        </tbody>
    </table>

</div>-->
<div class="table-wrapper-scroll-y">
    <section class="container">
        <br>
        <table class="container"
            style="background-color:#ffd859;color:#E33603; font-size: 20px; font-weight: bold; margin-left: -115px; border:4px solid #E33603">
            <tr>
                <td colspan="6">
                    <h1 style="font-size: 28px;font-weight: bold;">
                        Solicitudes de ayuda
                    </h1>
                </td>
            </tr>
            <tr style="background-color:#E33603;color: #ffd859;">
                <td>Correo</td>
                <td>Teléfono</td>
                <td>Descripción</td>
                <td>Imágenes</td>
                <td>Aceptar</td>
                <td>Rechazar</td>

            </tr>
            {% for reg in solaapi %}
            <tr>
                <td>{{reg.correo}}</td>
                <td>{{reg.telefono}}</td>
                <td>{{reg.descripcion}}</td>
                <td>
                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="{% static 'img/icon_emp.png' %}" class="d-block w-100" alt="..." width="auto"
                                    height="auto">
                            </div>
                            {% for reg in ayuda %}
                            <div class="carousel-item">
                                <img src="{{reg.imagen.url}}" class="d-block w-100" alt="..." width="auto"
                                    height="auto">
                            </div>
                            {% endfor %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </td>
                <td>
                    <form action="">
                        {% csrf_token %}
                        <div class="container" style="padding:15px 5px 15px 5px;">
                            <a href="#" style="margin: 100px 100px 100px 100px;">

                                <button type="button" class="btn btn-dark">Aceptar</button></a>
                        </div>
                    </form>
                </td>
                <td>
                    <a href="{% url 'MOTREC' %}" style="margin: 100px 100px 100px 100px;">
                        <button type="button" class="btn btn-dark">Rechazar</button></a>
                </td>
            </tr>
            {% endfor %}
            <tr>
                <th>--</th>
                <th>--</th>
                <th>--</th>
                <th>--</th>
                <th>--</th>
                <th>--</th>
            </tr>
        </table>
    </section>
</div>
{% endblock contenido %}

{% block js %}
<!-- añada sus scripts -->
{% endblock js %}